.templates-head h5 {
    font-size: 2rem;
    font-weight: 300;
    color: #100f0f;
    margin-bottom: 10px;
    padding-top: 40px;
}

.templates-head h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 10px 0;
    display: inline-block;
    white-space: nowrap;
}

.templates-head h3 {
    font-size: 2rem;
    color: #0c0b0b;
    font-weight: 300;
    margin: 20px 0;
}
.animated-letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fadeIn {
    opacity: 1;
    transform: translateX(0); 
}
